<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 引入 bootstrap 样式 -->
    <link rel="stylesheet" type="text/css" href="/statics1/libs/bootstrap/bootstrap.3.css">
    <!-- 引入自己的样式 -->
    <link rel="stylesheet" type="text/css" href="/statics1/css/index.css">
    <link rel="shortcut icon" href="/statics/imgs/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="container w">
        <h1>前端问答库</h1>
        <hr>
        <% data.forEach(function(v,i){ %>
            <div class="item">
                <img src=<%=v .img %> alt="">
                <div class="list">
                    <div class="title">
                        <span>【<%= v.modelname %>】</span>
                        <a href="#">
                            <%= v.title %>
                        </a>
                    </div>
                    <ul>
                        <li>访问量:
                            <%= v.visitNum %>
                        </li>
                        <li>star:
                            <%= v.star %>
                        </li>
                        <li>time:
                            <%= v.timedate %>
                        </li>
                    </ul>
                </div>
            </div>
            <% }) %>

                <hr>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <% if(page<=1){ %>
                                <a href='/pages?page=1' aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <% }else{ %>
                                    <a href='/pages?page=<%= page-1 %>' aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                    <% } %>
                        </li>
                        <% for(var i=1;i<=num;i++) { %>
                            <% if(page == i){%>
                                <li class="active">
                                    <a href='/pages?page=<%= i %>'>
                                        <%= i %>
                                    </a>
                                </li>
                                <% } else{%>
                                    <li>
                                        <a href='/pages?page=<%= i %>'>
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% }%>
                                        <% } %>
                                            <li>
                                                <% if(page<num){%>
                                                    <a href='/pages?page=<%= page-0+1 %>' id="next">
                                                        <span>&raquo;</span>
                                                    </a>
                                                    <%} else {%>
                                                        <a href='/pages?page=<%= num %>' id="next">
                                                            <span>&raquo;</span>
                                                        </a>
                                                        <% }%>
                                            </li>
                    </ul>
                </nav>
    </div>
</body>

</html>